<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.exhibit">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="AA_DB_NAME" android:value="Exhibit.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="fr.android.exhibit.model.LiteBluetoothDevice,
                           fr.android.exhibit.model.LiteBluetoothBeacon,
                           fr.android.exhibit.model.LiteProximityRecord,
                           fr.android.exhibit.model.LiteRequest,
                           fr.android.exhibit.model.LiteFile" />

        <activity
            android:name="fr.android.exhibit.activities.MainActivity"
            android:configChanges="screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="fr.android.exhibit.activities.FileSelector"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="fr.android.exhibit.activities.FileSave"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="fr.android.exhibit.activities.ReturnOnExperience"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"/>

        <service
            android:name="fr.android.exhibit.services.BluetoothLEService"
            android:exported="false" />
    </application>

</manifest>
